<div class="account-card setting-card p-3 p-md-4">
    <div class="title">Account Settings</div>
    <div class="text">Manage your account settings, profile information, and preferences.</div>
    
    <div class="divider"></div>

    <div class="profile-card d-flex align-items-start gap-2 gap-md-4">
        <img src="svg/content-creator/settings/user-profile-placeholder.svg" alt="user">

        <div class="user-details d-flex flex-column gap-1">
            <div class="title">Profile Picture</div>
            <div class="text">We recommend an image of at least 400x400. PNG or JPG</div>
            <div class="d-flex gap-2 mt-1">
                <app-button btnText="Upload" [iconUrl]="svgIcon.download" iconPlacement="before" type="secondary" ></app-button>
                <app-button btnText="Remove" type="secondary" [disabled]="true" ></app-button>
            </div>
        </div>
    </div>

    <div class="pt-2">
        <div class="divider"></div>
    </div>

    <div class="inputs-wrapper d-flex flex-column gap-3">
        <app-custom-input label="Full Name" placeholder="Enter Full Name"></app-custom-input>
        <app-custom-input label="Email" placeholder="Enter Email"></app-custom-input>
        <app-custom-input label="Title" placeholder="Enter Title"></app-custom-input>
    </div>

    <div class="pt-2">
        <div class="divider"></div>
    </div>

    <div class="connected-accounts">
        <div class="title">Connected Accounts</div>
        <div class="account mt-3 d-flex justify-content-between">
            <div class="d-flex gap-3">
                <!-- <img src="svg/content-creator/settings/google-icon.svg" alt="google"> -->
            <img src="svg/content-creator/dashboard/user-youtube.svg" alt="youtube">
                <div class="details">
                    <div class="title">{{user?.displayName}}</div>
                    <div class="text">{{user?.email}}</div>
                </div>
            </div>
            <div class="action align-content-center">
                <button class="btn remove">Remove</button>
            </div>
        </div>
    </div>
</div>

<div class="mt-3 d-flex gap-3 w-100">
    <app-button class="w-100" btnText="Discard" type="secondary" ></app-button>
    <app-button class="w-100" btnText="Apply Changes" type="primary" ></app-button>
</div>