<div class="footer-wrapper">
    <div class="row h-100 pb-4 mb-2">
        <div class="col-md-7 logo-wrapper">
            <img class="logo" [src]="svgIcon.logoWhite" alt="Logo">
            <div class="text pt-4">
                SponsPay helps YouTube creators earn more by enabling local payment methods for their global audience.
                Start monetizing your content today.
            </div>
            <div class="social-icons pt-4">
                <img src="svg/landing/youtube.svg" alt="Youtube">
                <img src="svg/landing/twitter.svg" alt="Twitter">
                <img src="svg/landing/facebook.svg" alt="Facebook">
                <img src="svg/landing/linkedin.svg" alt="Linkedin">
            </div>
        </div>
        <div class="col-md-5 lg:px-5">
            <div class="quick-links-wrapper">
                <div class="quick-links">
                    <div class="heading">COMPANY</div>
                    <div class="links">
                        <div class="link" routerLink="/about">About Us</div>
                        <div class="link" routerLink="/contact-us">Contact Us</div>
                        <div class="link">Career</div>
                    </div>
                </div>
                <div class="quick-links">
                    <div class="heading">HELP</div>
                    <div class="links">
                        <div class="link">Customer Support</div>
                        <div class="link" routerLink="/terms">Terms & Condition</div>
                        <div class="link" routerLink="/privacy">Privacy Policy</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrapper">
        © Copyright {{currentYear}}, All Rights Reserved by SponsPay
    </div>
</div>