<div class="d-flex gap-4 justify-content-center onboard-wrapper-images">
    <img class="welcome-img" src="svg/content-creator/welcome-icon.svg" alt="Connect Youtube">
</div>
<div class="title-wrapper mt-4 pt-4">
    <div class="text-medium text-center">Thank you for using Sponspay</div>
    <div class="text-regular text-center mt-3">We're sorry to see you go. If you change your mind, you can always sign up again. Follow us on social media to stay connected.</div>
</div>

<div class="d-flex justify-content-center gap-2 mt-4 pt-4 gap-md-3">
    <img [src]="socialIcons.youtube" alt="youtube" [width]="45">
    <img [src]="socialIcons.twitter" alt="twitter" [width]="45">
    <img [src]="socialIcons.facebook" alt="facebook" [width]="45">
    <img [src]="socialIcons.linkedin" alt="linkedin" [width]="45">
</div>

<div class="mt-3 pt-3 mt-lg-4 pt-lg-4">
    <app-button btnText="Close" ></app-button>
</div>