<div class="landing-content-wrapper" #scrollContainer>

    <div class="home-wrapper min-vh-100">

        <app-landing-header></app-landing-header>

        <div class="texture-wrapper">
            <img class="desktop-dots bring-backward" src="svg/landing/desktop-dots.svg" alt="">
            <img class="desktop-texture bring-backward" src="svg/landing/texture.png" alt="">
        </div>

        <router-outlet></router-outlet>
    
        <div class="footer-div">
            <app-landing-footer></app-landing-footer>
        </div>
    </div>
</div>
