.custom-checkbox{
    .form-check-input{
        background-color: #e6e6e6;
        border-color: #e6e6e6;
        width: 2.7em;
        height: 1.4em;
        --bs-form-switch-bg: url('/svg/toggle-circle-default.svg');
    }
    .form-check-input:focus{
        box-shadow: none;
        background-color: #e6e6e6;
        border-color: #e6e6e6;
        --bs-form-switch-bg: url('/svg/toggle-circle-default.svg');
    }
    .form-check-input:checked{
        background-color: rgba(33, 52, 88, 1);
        border-color: rgba(33, 52, 88, 1);
        --bs-form-switch-bg: url('/svg/toggle-circle-checked.svg');
    }
    .form-check-label{
        align-self: center;
        margin-top: 4px;
        margin-left: 5px;
    }
}

// Smallest Mobile Screen
@media (max-width: 338.99px) {
    .custom-input-wrapper{
        .custom-input-label, .sub-label{
            font-size: 12px;
        }
    }
}