.loader-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Make sure it’s on top of everything */
}

.loading-img{
    width: 100px;
    height: 100px;
}
// .loader-spinner .spinner {
//   border: 8px solid rgba(255, 255, 255, 0.3);
//   border-top: 8px solid #fff;
//   border-radius: 50%;
//   width: 50px;
//   height: 50px;
//   animation: spin 1.5s linear infinite;
// }