<div class="account-card setting-card p-3 p-md-4">
    <div class="title">Social Links</div>
    <div class="text">Manage your social media connections.</div>
    
    <div class="pb-2"> <div class="divider"></div> </div>

    <div class="user-link-wrapper">
        <div class="label">Facebook <span class="gray-text">(Optional)</span></div>
        <div class="user-link mt-2 d-flex flex-md-row">
            <div class="company-url d-flex gap-2 align-items-center">
                <img src="svg/content-creator/settings/facebook.svg" alt="facebook">
                <div class="d-none d-md-block">facebook.com</div>
            </div>
            <div class="user-url">/username</div>
        </div>
    </div>

    <div class="user-link-wrapper mt-3">
        <div class="label">Instagram <span class="gray-text">(Optional)</span></div>
        <div class="user-link mt-2 d-flex flex-md-row">
            <div class="company-url d-flex gap-2 align-items-center">
                <img src="svg/content-creator/settings/instagram.svg" alt="instagram">
                <div class="d-none d-md-block">instagram.com</div>
            </div>
            <div class="user-url">/username</div>
        </div>
    </div>

    <div class="user-link-wrapper mt-3">
        <div class="label">Twitch <span class="gray-text">(Optional)</span></div>
        <div class="user-link mt-2 d-flex flex-md-row">
            <div class="company-url d-flex gap-2 align-items-center">
                <img src="svg/content-creator/settings/twitch.svg" alt="twitch">
                <div class="d-none d-md-block">twitch.com</div>
            </div>
            <div class="user-url">/username</div>
        </div>
    </div>

    <div class="w-100 mt-4">
        <app-button class="w-100" btnText="Add Social Links" type="secondary" [iconUrl]="svgIcon.plusIcon" iconPlacement="before" ></app-button>
    </div>

</div>