<div class="d-flex gap-4 justify-content-center onboard-wrapper-images">
    <img src="svg/content-creator/connect-yt.svg" alt="Connect Youtube">
    <img src="svg/content-creator/start-earning.svg" alt="Start Earning">
</div>
<div class="title-wrapper mt-4">
    <div class="text-medium text-center">Let's get you onboarded</div>
    <div class="text-regular text-center mt-2">Set up your account in just a few simple steps. Connect your YouTube channel, review your revenue potential, and start earning from your global audience.</div>
</div>
<div class="mt-5 d-flex flex-column gap-3 px-3">
    <div class="row justify-content-between">
        <div class="col-9 d-flex gap-3 p-0">
            <img class="align-self-center" src="svg/content-creator/check-gray.svg" alt="Check Gray">
            <div class="step-text">Sign up with Your Google Account</div>
        </div>
        <div class="align-self-center col-3 step-text p-0 text-end">{{'< 1min'}}</div>
    </div>
    <div class="row justify-content-between">
        <div class="col-9 d-flex gap-3 p-0">
            <img class="align-self-center" src="svg/content-creator/check-gray.svg" alt="Check Gray">
            <div class="step-text">Select your desired youtube channel</div>
        </div>
        <div class="align-self-center col-3 step-text p-0 text-end">{{'< 1min'}}</div>
    </div>
    <div class="row justify-content-between">
        <div class="col-9 d-flex gap-3 p-0">
            <img class="align-self-center" src="svg/content-creator/check-gray.svg" alt="Check Gray">
            <div class="step-text">Get Customized earning estimation</div>
        </div>
        <div class="align-self-center col-3 step-text p-0 text-end">{{'< 1min'}}</div>
    </div>
    <div class="row justify-content-between">
        <div class="col-9 d-flex gap-3 p-0">
            <img class="align-self-center" src="svg/content-creator/check-gray.svg" alt="Check Gray">
            <div class="step-text">Explore Creator Dashboard</div>
        </div>
        <div class="align-self-center col-3 step-text p-0 text-end">Instant</div>
    </div>
</div>

<div class="google-btn-wrapper mt-5">
    <button class="google-btn w-100" data-cy="google-login-btn" (click)="onLoginClick()">
        <img src="svg/content-creator/google.svg" alt="Google">
        <div>Continue with Google</div>
    </button>
</div>