.notification-card{
    .divider{
        height: 1px;
        opacity: 1;
        background: #E6E6E6;
    }

    .heading-wrapper{
        color: #8E8E8F;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.14px;
    }
}
.header-heading{
    color: #8E8E8F;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.14px;
    
    margin-top: 7px;
}